<% provide(:title, @user.name) %>
<div class="row">

  <div class="col-md-4">
        <div class="sidebar-nav">
              <div class="well" style="width:300px; padding: 8px 0;">
              <ul class="nav nav-pills nav-stacked"> 
                       
                <li><a href="/users"><span class="glyphicon glyphicon-dashboard"></span>All Users</a></li>
                <li><a href="<%= following_user_path(@user) %>"><span class="glyphicon glyphicon-plus"></span> Following</a></li>
                <li><a href="<%= followers_user_path(@user) %>"><span class="glyphicon glyphicon-user"></span> Followers</a></li>
                <li><a href="/users/<%= @user.id %>"><span class="glyphicon glyphicon-comment"></span> Tweets</a></li>
                <li><a href="/hashtags"><span class="glyphicon glyphicon-picture"></span> Hashtags</a></li>
              </ul>
            </div>
          </div>
        </div>
 

  <div class="col-md-8">
  
    <section>
        <h1>
          <%= gravatar_for @user %>
          <%= @user.name %>
        </h1>
    </section>
    <p></p>
      <section>
        <%= render 'shared/stats' %>
      </section>
    <hr/>
    <%= render 'follow_form' if signed_in? %>
      <% if @user.microposts.any? %>
        <h3>Tweets (<%= @user.microposts.count %>)</h3>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
        <%= will_paginate @microposts %>
      <% end %>
  </div>
</div>