<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="https://about.twitter.com/sites/about/themes/gazebo_about/favicon.ico" type="image/vnd.microsoft.icon">
  <%= render 'layouts/shim' %>
</head>
<body>

  <%= render 'layouts/header'%>


  <div class="container">
  	<% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "well text-alert") %>
        <% end %>
  	<%= yield %>
    <%= debug(params) if Rails.env.development? %>
  	<%= render 'layouts/footer'%>
  
  </div>

</body>
</html>
